.App--header {
    text-align: center;
}

.App--main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.DailyWeather--section {
    text-align: center;    
    border: solid 1px #A7A6A2;
    background-color: rgb(84, 83, 88);
    min-width: 300px;
    min-height: 325px;
    box-shadow: rgb(51, 60, 85) 6px 6px 4px; 
}

.DailyWeather--section ul {
    list-style-type: none;
    /* padding-left: 0;  */
    padding: 10px;  
}

input {
background: #404B69;
border: 0;
border-bottom: 2px solid #3BB7EA;
box-sizing: border-box;
color: #fff;
font-size: 2em;
font-family: 'Exo 2', sans-serif;
margin: 40px 0;
max-width: 100%;
padding: 5px;
}
  
input:focus {
background: #ecff4063;
outline: none;
}

.submit-btn {
    background-color: #3BB7EA;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #DBEDF3;
    font-size: 18px;
}

.DailyWeather--date {
    color: #DBEDF3;
    font-size: 2.5em;
}

.DailyWeather--summary {
    color: #DBEDF3;
}

.DailyWeather--temperature {
    color: #DBEDF3;
}

.high-temp {
    color: #DA0463;
}

.low-temp {
    color: #283149;
}

@media only screen and (max-width: 480px ) {
    .App--main {
        display: block;
    }
    .App--boxes {
        padding: 10px;
    }
}